<h2>User Order detail</h2>
<hr>
<h3>User detail</h3>
<div>{{user.firstName}}</div>
<div>{{user.lastName}}</div>
<div>{{user.email}}</div>
<div>{{user.dob}}</div>
<div>
    <h3>Product list</h3>

    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>price</th>
                <th>quantity</th>
                <th>images</th>
            </tr>
        </thead>
        <tbody *ngFor="let product of user.products">
            <tr>
                <th>{{product.name}}</th>
                <th>{{product.description}}</th>
                <th>{{product.price}}</th>
                <th>{{product.quantity}}</th>
                <th>{{product.photo}}</th>
            </tr>
        </tbody>

    </table>
</div>